window {
    background-color: #dcdccc;
}

textview text {
    background-color: #3f3f3f;
    color: #dcdccc;
}

#info {
    background-color: #2e3330;
    color: #88b090;
}

#info-active {
    background-color: #1e2320;
    color: #edd400;
}
